:root {
  --text: #144b86;
  --primary: #ffabf1;
  --primary-dark: #f11cce;
  --primary-light: #ffabf1;
  --secondary: #ffebad;
  --secondary-light: #fff6bf;
}

.title {
  color: var(--text);
  font-weight: bold;
}
.title-xl {
  font-size: 2rem;
}
.title-lg {
  font-size: 1.5rem;
}
